*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #FFF;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.d-flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column !important;
}

.align-items-center {
    align-items: center;
}

header {
    height: 385px;
    display: flex;
    justify-content: center;
}

header img {
    margin: 0 auto;
}

.banner-principal {
    height: 915px;
    background: #002C5E;
    background-image: url('/assets/bg-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -11px;
}

.banner-principal .content-text {
    width: 50%;
    padding-top: 15.5rem;
}

.banner-principal h2 {
    color: #FECD04;
    font-family: 'Poppins';
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 85px;
}

.banner-principal h2.title-bg {
    height: 89px;
    background: #FECD04;
    width: fit-content;
    padding: 0 15px;
    color: #002C5E;
    text-align: center;
    font-family: 'Poppins';
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 85px; /* 170% */
}

.banner-principal p {
    color: #D3AC2B;
    text-align: center;
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 120% */
    width: 66.3333%;
}

main{
    display: flex;
    flex-direction: column;
}

.banner {
    width: 100%;
    height: auto;
    display: block;

}

.texto-azul{
    font-family: Poppins;
    width: 1484px;
    color: #002C5E;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 122px 150px 122px 150px;
}


.div-buttons{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 58px;
}

.div-buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 76px;
    border: none;
    border-radius: 20px;
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.button-email {
    background: #0B83BF;
}

.button-whatsapp {
    background: #008000;
}

.button-central {
    background: #800000;
}

button img {
    width: 32px;
    height: 32px;
    margin-right: 5px;
}








.conheca-mais{
    background-color: #002C5E;
}

.conheca-mais h1{
    display: flex;
    justify-content: center;
    color: #D3AC2B;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 35px;
    margin-bottom: 90px;
}


.card-pai{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.card-plataforma{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-plataforma img{
    width: 520px;
    height: 352.258px;
    border-radius: 20px;
}

.card-plataforma h2{
    display: flex;
    justify-content: center;
    color: #D3AC2B;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: 49px; /* 188.462% */
    margin-top: 44px;
}

.card-plataforma p{
    display: flex;
    justify-content: center;
    color: #D3AC2B;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 110% */
    margin-top: 22px;
}

.card-plataforma button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 233px;
    height: 77.658px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #D3AC2B;
    color: #FFF;
    text-align: justify;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    margin-top: 57px;
    margin-bottom: 75px;
}